@font-face {
	font-family: 'Amerika';
	src: url('images/Amerika.ttf');	
}
body {
	background-image: url(images/bg.jpg);
	margin: 0px;
	padding: 0px;
}
#container {
	width: 1024px;
}
#HEAD {
	width: 1024px;
	height: 350px;
}
#MENU-LEFT {
	width: 200px;
	float: left;
	margin-left: 55px;
	margin-right: 7px;
	overflow: hidden;
	margin-bottom: 10px;
}
#MENU-RIGHT {
	width: 200px;
	float: right;
	margin-left: 7px;
	margin-right: 55px;
	overflow: hidden;
	margin-bottom: 10px;
}
#MAIN {
	width: 500px;
	float: left;
	overflow: hidden;
	margin-bottom: 10px;
}
#FOOT {
	clear: both;
	width: 907px;
	height: 144px;
	background-image: url(images/foot.png);
	margin-bottom: 20px;
}

.headers-font {
	color: #FFFFFF;
	font-family: Amerika;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.menu-font {
	text-decoration: none;
	color: #FFFFFF;
	font-family: "Trajan Pro";
	font-size: 14px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.font {
	color: #FFFFFF;
	font-family: "Trajan Pro";
	font-size: 14px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.sign-font {
	color: #FFFFFF;
	font-family: "Trajan Pro";
	font-size: 14px;
	margin-top: 30px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.date-font {
	color: #FFFFFF;
	font-family: "Trajan Pro";
	font-size: 12px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.footers-font {
	color: #999999;
	font: Arial;
	font-size: 14px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.menu-up-left {
	background-image: url(images/ul.png);
	width: 15px;
	height: 52px;
}
.menu-up-center {
	background-image: url(images/uc.png);
	vertical-align: middle;
	text-align: center;
	height: 52px;
}
.menu-up-right {
	background-image: url(images/ur.png);
	width: 15px;
	height: 52px;
}
.menu-center-left {
	background-image: url(images/cl.png);
	width: 15px;
	height: 30px;
}
.menu-center {
	background-image: url(images/bgtable.jpg);
	border-bottom-color: #373737;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	height: 30px;
	vertical-align: middle;
	text-align: center;
}
.menu-center-last {
	background-image: url(images/bgtable.jpg);
	height: 30px;
	vertical-align: middle;
	text-align: center;
}
.menu-center-right {
	background-image: url(images/cr.png);
	width: 15px;
	height: 30px;
}
.menu-down-left {
	background-image: url(images/dl.png);
	width: 15px;
	height: 7px;
}
.menu-down-center {
	background-image: url(images/dc.png);
	height: 7px;
}
.menu-down-right {
	background-image: url(images/dr.png);
	width: 15px;
	height: 7px;
}

.main-up-left {
	background-image: url(images/ul.png);
	width: 15px;
	height: 52px;
}
.main-up-center {
	background-image: url(images/uc.png);
	vertical-align: middle;
	text-align: center;
	height: 52px;
}
.main-up-right {
	background-image: url(images/ur.png);
	width: 15px;
	height: 52px;
}
.main-center-left {
	background-image: url(images/cl.png);
	width: 15px;
}
.main-center {
	background-image: url(images/bgtable.jpg);
	vertical-align: middle;
	text-align: justify;
}
.main-center-right {
	background-image: url(images/cr.png);
	width: 15px;
}
.main-down-left {
	background-image: url(images/mdl.png);
	width: 15px;
	height: 55px;
}
.main-down-left-center {
	background-image: url(images/mdlc.png);
	width: 225px;
	height: 55px;
	text-align: center;
}
.main-down-center {
	background-image: url(images/mdc.png);
	width: 20px;
	height: 55px;
}
.main-down-right-center {
	background-image: url(images/mdrc.png);
	width: 211px;
	height: 55px;
	text-align: right;
	vertical-align: middle;
}
.main-down-right {
	background-image: url(images/mdr.png);
	width: 15px;
	height: 55px;
}
