				<div id="MAIN">
					<div class="ul"></div><div class="ur"></div><div class="uc"><br style="font-size: 13px;" /><span class="headers-font">{$Article.Title}</span></div>
					<div class="cc">
						<div class="text"><font class="font">
						<center><h3>{$Article.FirstTitle}</h3></center>
						{$Article.Text}
						<center><h3>{$Article.SecondTitle}</h3></center>
						{$Article.SecondText}
						<center><h3>{$Article.ThirdTitle}</h3></center>
						{$Article.ThirdText}
						{if $il eq 0}
							Taki artykuł nie istnieje!
						{/if}
						</font></div>
					</div><div class="dl"></div><div class="dr"></div><div class="dc"></div>  					
				</div>
{include file="foot.tpl"}