				<div id="MAIN">
					<div class="ul"></div><div class="ur"></div><div class="uc"><br style="font-size: 13px;" /><span class="headers-font">{$title}</span></div>
					<div class="cc">
						<div class="text"><font class="font">
						Artykuły w tej kategorii:
						<ul>
						{section name=a loop=$art}
							<li><a class="font" href="articles.php?art={$art[a][0]}">{$art[a][1]}</a></li>
						{/section}
						{if $artil eq 0}
							<li>Brak artykułów w tej kategorii</li>
						{/if}
						</ul>
						</font></div>
					</div><div class="dl"></div><div class="dr"></div><div class="dc"></div>  					
				</div>
{include file="foot.tpl"}