
				<div id="MAIN">
					<div class="ul"></div><div class="ur"></div><div class="uc"><br style="font-size: 13px;" /><span class="headers-font">{$title[0]}</span></div>
					<div class="cc">
						<div class="text"><font class="font">{$wellcome}</font></div>
					</div><div class="dl"></div><div class="dr"></div><div class="dc"></div>  
					<div class="ul"></div><div class="ur"></div><div class="uc"><br style="font-size: 13px;" /><span class="headers-font">{$title[1]}</span></div>
					<div class="cc">
						<div class="text"><font class="font">
						Otstatnio dodane artykuły:
						<ul>
						{section name=art loop=$last}
							<li><a class="font" href="articles.php?art={$last[art][0]}">{$last[art][1]}</a></li>
						{/section}
						{if $lastil eq 0}
							<li>Brak artykułów</li>
						{/if}
						</ul>
						</font></div>
					</div><div class="dl"></div><div class="dr"></div><div class="dc"></div>  					
				</div>
{include file="foot.tpl"}