
				<div id="MAIN">
					<div class="ul"></div><div class="ur"></div><div class="uc"><br style="font-size: 13px;" /><span class="headers-font">{$title}</span></div>
					<div class="cc">
						<div class="text"><font class="font">
						Aby skontaktowac sie z administratorem wypełnij poniższy formularz:<br>
						<form>
						<div class="kontakt_text" style="margin-top:4px;">Adres Email:</div><input type="text" class="kontakt_inp"/><br>
						<div class="kontakt_text" style="margin-top:6px;">Temat:</div><input type="text" class="kontakt_inp"/><br>
						<div class="kontakt_text" style="margin-top:6px;">Wiadomość:</div><textarea class="kontakt_inp" style="height: 150px;"></textarea><br>
						<input type="submit" value="Wyślij" style="width: 150px; float: right; margin-right:30px;"/>
						</form>
						</font></div>
					</div><div class="dl"></div><div class="dr"></div><div class="dc"></div>
				</div>
{include file="foot.tpl"}