body {
	background-image: url(../Images/bg.jpg);
	margin: 0px;
	padding: 0px;
}
#container {
	width: 1024px;
}

#HEAD {
	width: 1024px;
	height: 350px;
}

#MENU-LEFT {
	width: 200px;
	float: left;
	margin-left: 55px;
	margin-right: 7px;
	overflow: hidden;
	margin-bottom: 10px;
}

#MENU-RIGHT{
	width: 200px;
	float: right;
	margin-left: 7px;
	margin-right: 55px;
	overflow: hidden;
	margin-bottom: 10px;
}

#MAIN {
	width: 500px;
	float: left;
	overflow: hidden;
	margin-bottom: 10px;
}

#FOOT{
	clear: both;
	width: 907px;
	height: 144px;
	background-image: url(../Images/foot.png);
	margin-bottom: 20px;
}