@font-face {
	font-family: 'Amerika';
	src: url('../Images/amerika.ttf');	
}
@font-face {
	font-family: 'Trajan Pro';
	src: url('../Images/TrajanPro.ttf');	
}
.headers-font {
	color: #FFFFFF;
	font-family: "Amerika";
	font-size: 18px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.menu-font {
	text-decoration: none;
	color: #FFFFFF;
	font-family: "Trajan Pro";
	font-size: 14px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.menu-font:hover {
	text-decoration: none;
	color: #FFFF33;
	font-family: "Trajan Pro";
	font-size: 14px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.font {
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 14px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.font-error {
	color: #FF0000;
	font-family: "Trajan Pro";
	font-size: 14px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.sign-font {
	color: #FFFFFF;
	font-family: "Trajan Pro";
	font-size: 14px;
	margin-top: 30px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.date-font {
	color: #FFFFFF;
	font-family: "Trajan Pro";
	font-size: 12px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.footers-font {
	color: #999999;
	font: Arial;
	font-size: 14px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
