.ul {
    background-image: url('../Images/ul.png');
	width: 15px;
	height: 52px;
    float: left;
}
.ur {
    background-image: url('../Images/ur.png');
	width: 15px;
    height: 52px;
    float: right;
}
.uc {
    background-image: url('../Images/uc.png');
	vertical-align: middle;
	text-align: center;
	height: 52px;
    margin-right: 15px;
    margin-left: 15px;
}
.dl {
    background-image: url('../Images/dl.png');
	width: 15px;
	height: 7px;
    float: left;
}
.dr {
    background-image: url('../Images/dr.png');
	width: 15px;
    height: 7px;
    float: right;
}
.dc {
    background-image: url('../Images/dc.png');
	height: 7px;
    margin-right: 15px;
    margin-left: 15px;
	margin-bottom:10px;
}
.cc {
    background-image: url('../Images/bgtable.jpg');
    border-left: 2px solid grey;
    border-right: 2px solid grey;
	overflow: hidden;
}
.footer {
    text-align: right;
    width: 90%;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}
.menu_item {
	height: 20px;
	margin-top: 5px;
}
.text {
	vertical-align: middle;
	text-align: justify;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	overflow: hidden;
}
.kontakt_text {
	width: 100px;
	height: 20px;
	float: left;
	text-align:right;
	margin-left: 30px;
}
.kontakt_inp {
	width: 300px;
	height: 20px;
	float: right;
	margin-right: 30px;
}
